<section class="about center">
   <article class="grid grid--2x2 container section">
      <h2 class="section__heading">What We Do</h2>
      <div class="img-container section__img">
         <div class="line-container line-right">
            <h2 class="img-container__head">About Us</h2>
         </div>
         <picture>
            <source type="image/webp" srcset="images/trust-465.webp 1x,
                       images/trust-465@2x.webp 2x,
                       images/trust-465@3x.webp 3x">
            <source type="image/jpg" srcset="images/trust-465.jpg 1x,
                       images/trust-465@2x.jpg 2x,
                       images/trust-465@3x.jpg 3x">
            <img class="img-container__img" src="images/trust-465@3x.jpg"
               alt="Team Holding each other, expressing unity and power in teamwork">
         </picture>
      </div>
      <div class="section__content">
         <p>A. M. Reddy & Associates deliver a wide range of quality professional services that are individually
            tailored to meet our clients’ needs. We specialize in providing</p>
         <ul class="list list--tick section__list">
            <li class="list__item">Company Secretarial Services</li>
            <li class="list__item">Company Laws</li>
            <li class="list__item">Insolvency and Bankruptcy</li>
            <li class="list__item">Obtaining DSC's</li>
            <li class="list__item">ROC Annual Return Filing</li>
            <li class="list__item">Taxation, Accounting and Financial Services</li>
         </ul>
         <div class="line-container line-left read-more">
            <a href="" class="link">Read More</a>
         </div>
      </div>
   </article>
</section>
