<section class="footer">
   <ul class="list list--inline footer__list">
      <li class="list-item"><a href="" class="link">Home</a></li>
      <li class="list-item"><a href="" class="link">About</a></li>
      <li class="list-item"><a href="" class="link">Services</a></li>
      <li class="list-item"><a href="" class="link">Contact Us</a></li>
   </ul>
   <div>
      <ul class="list">
         <li class="footer__email">reddyamr@gmail.com</li>
         <li class="footer__phone">+91 830-941-9626</li>
      </ul>
   </div>
   <p class="copy">&copy; 2021 All Rights Reserved</p>
</section>
