<header class="header">
   <div class="container">
      <a href="/" tabindex="-1">
         <img src="images/AMR_logo.svg" alt="" class="brand" />
      </a>
      <div class="chevron-container collapsible">
         <svg class="chevron-menu" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            style="fill: rgba(0, 0, 0, 1); transform: ; msfilter: ">
            <path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path>
         </svg>
         <svg class="chevron-close" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            style="fill: rgba(0, 0, 0, 1); transform: ; msfilter: ">
            <path
               d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z">
            </path>
         </svg>
      </div>
      <nav class="header__nav collapsible__content">
         <ul class="list nav__list">
            <li class="nav__item"><a href="">Home</a></li>
            <li class="nav__item"><a href="">About</a></li>
            <li class="nav__item"><a href="">Services</a></li>
            <li class="nav__item">
               <a class="btn btn--primary" href="">Contact Us</a>
            </li>
         </ul>
      </nav>
   </div>
</header>
<script src="src/main.js"></script>
