<main>
   <section class="hero">
      <div class="container">
         <div class="hero__background">
            <picture>
               <source type="image/webp" srcset="
                            images/chart-674.webp   674w,
                            images/chart-948.webp   948w,
                            images/chart-1179.webp 1179w,
                            images/chart-1280.webp 1280w,
                            images/chart-1896.webp 1896w,
                            images/chart-2560.webp 2560w,
                            images/chart-3072.webp 3072w,
                            images/chart-6144.webp 6144w
                        " />
               <source type="image/jpeg" srcset="
                            images/chart-674.jpg   674w,
                            images/chart-948.jpg   948w,
                            images/chart-1179.jpg 1179w,
                            images/chart-1280.jpg 1280w,
                            images/chart-1896.jpg 1896w,
                            images/chart-2560.jpg 2560w,
                            images/chart-3072.jpg 3072w,
                            images/chart-6144.jpg 6144w
                        " />
               <img src="images/chart-1280.jpg" alt="" />
            </picture>
         </div>
         <div class="hero__content">
            <h1 class="hero__title">
               Compliance is bound to make an impact in your business
            </h1>
            <p class="hero__tagline">You are in good hands</p>
            <a href="" class="btn btn--secondary">view services</a>
            <a href="" class="btn btn--secondary">contact us</a>
         </div>
      </div>
   </section>
</main>
