<div class="img-container">
   <div class="line-container line-right">
      <h2 class="img-container__head">About Us</h2>
   </div>
   <picture class="img-container__img">
      <source type="image/webp" srcset="images/trust-465.webp 1x,
                       images/trust-465@2x.webp 2x,
                       images/trust-465@3x.webp 3x">
      <source type="image/jpg" srcset="images/trust-465.jpg 1x,
                       images/trust-465@2x.jpg 2x,
                       images/trust-465@3x.jpg 3x">
      <img src="images/trust-465@3x.jpg" alt="Team Holding each other, expressing unity and power in teamwork">
   </picture>
</div>
<div class="img-container">
   <div class="line-container line-left">
      <h2 class="img-container__head">About Us</h2>
   </div>
   <picture>
      <source type="image/webp" srcset="images/trust-465.webp 1x,
                       images/trust-465@2x.webp 2x,
                       images/trust-465@3x.webp 3x">
      <source type="image/jpg" srcset="images/trust-465.jpg 1x,
                       images/trust-465@2x.jpg 2x,
                       images/trust-465@3x.jpg 3x">
      <img class="img-container__img" src="images/trust-465@3x.jpg"
         alt="Team Holding each other, expressing unity and power in teamwork">
   </picture>
</div>
